In [2]:
import pandas as pd
import numpy as np

In [3]:
url = "https://www.aoml.noaa.gov/hrd/hurdat/All_U.S._Hurricanes.html"

In [ ]:
tables = pd.read_html(url)

In [ ]:
table=tables[1]

In [ ]:
table = table.drop([0,1,3,357])
table = table.drop([7,8,9,10,11,12,13,14,15], axis=1)
table.columns = table.iloc[0]
table = table.drop(2)

In [ ]:
table = table[table['Year'].str.contains('s') == False]
table = table[table.Month != '']
table = table.dropna()

In [ ]:
table = table.reset_index()
table.columns.name = 'Id'
table = table.drop(['index'], axis=1)

In [ ]:
table

In [ ]:
table.to_csv('hurr_data.csv')

In [ ]:
ace_url = "https://www.aoml.noaa.gov/hrd/hurdat/comparison_table.html"

In [ ]:
ace_tables = pd.read_html(ace_url)

In [ ]:
ace_table = ace_tables[1]

In [ ]:
ace_table = ace_table.drop([0,1])

In [ ]:
ace_table.columns = ace_table.iloc[0]

In [ ]:
ace_table = ace_table.drop(2)

In [ ]:
ace_table = ace_table.reset_index()
ace_table.columns.name = 'Id'
ace_table = ace_table.drop(['index'], axis=1)

In [ ]:
ace_table

In [ ]:
ace_table = ace_table.drop('Original Named Storms', axis=1)

In [ ]:
ace_table = ace_table.drop('Original Hurricanes', axis=1)

In [ ]:
ace_table = ace_table.drop('Original Major Hurricanes', axis=1)

In [ ]:
ace_table = ace_table.drop('Original ACE', axis=1)

In [ ]:
ace_table = ace_table.drop('Original U.S. Hurricanes', axis=1)

In [ ]:
ace_table = ace_table.rename(columns={"Revised Named Storms":"Storms", "Revised Hurricanes":"Hurricanes", "Revised Major Hurricanes":"Major Hurricanes", "Revised ACE":"ACE", "Revised U.S. Hurricanes":"U.S. Hurricanes"})

In [ ]:
ace_table

In [ ]:
ace_table.to_csv('ace_data.csv')

In [5]:
hurdat2Url = 'https://www.nhc.noaa.gov/data/hurdat/hurdat2-1851-2022-050423.txt'
hurdat2 = pd.read_csv(hurdat2Url, sep=', ', header=None, names=['Date','Time','Record ID','System Status','Latitude','Longitude','Max Wind','k','l','m','n','o','p','q','r','s','t','u','v','w','x','y','z'], engine='python')
hurdat2 = hurdat2.drop(['System Status','Latitude','Longitude','k','l','m','n','o','p','q','r','s','t','u','v','w','x','y','z'], axis=1)
hurdat2.rename(columns={'Record ID':'Col3'}, inplace=True)
hurdat2['Col3'] = hurdat2['Col3'].map(lambda x: x.rstrip(','))
hurdat2['Col3'] = hurdat2['Col3'].map(lambda x: x.rstrip('L'))
hurdat2['Col3'] = hurdat2['Col3'].map(lambda x: x.strip())
numeric_indexes = hurdat2[hurdat2['Col3'].str.isnumeric()][:].index

In [6]:
numeric_indexes

Index([    0,    15,    17,    19,    69,    86,   104,   150,   159,   180,
       ...
       55700, 55735, 55776, 55789, 55802, 55813, 55835, 55854, 55879, 55901],
      dtype='int64', length=1952)

In [9]:
for i in numeric_indexes:
    idx = hurdat2.iloc[i]['Col3']
    ws = []
    for x in range(1,int(idx)+1):
        ws.append(hurdat2.iloc[i+x]['Max Wind'])
    #print(max(ws))
    hurdat2.iloc[i, hurdat2.columns.get_loc('Max Wind')] = max(ws)
    ws = []

In [18]:
hurdat2 = hurdat2.iloc[hurdat2.index.isin(numeric_indexes)]

In [21]:
hurdat2 = hurdat2.drop('Col3', axis=1)

In [30]:
hurdat2['Date'] = hurdat2['Date'].str[4:]

In [32]:
hurdat2.rename(columns={'Time':'Name'}, inplace=True)

In [33]:
hurdat2

       Date                Name  Max Wind
0      1851             UNNAMED      80.0
15     1851             UNNAMED      80.0
17     1851             UNNAMED      50.0
19     1851             UNNAMED     100.0
69     1851             UNNAMED      50.0
...     ...                 ...       ...
55813  2022               JULIA      75.0
55835  2022                KARL      50.0
55854  2022                LISA      80.0
55879  2022              MARTIN      75.0
55901  2022              NICOLE      65.0

[1952 rows x 3 columns]

In [34]:
hurdat2.to_csv('hurdat_data.csv')